<style type="text/css">

    header,footer{

        display: none !important;

    }

</style>

<!-- header-start -->
<%- include("comman/header") %>
<!-- header-end -->



<section class="personal-info" id="personal_id">

    <div class="container">

        <div class="row">

            <div class="col-12 col-md-12 col-lg-10 mx-auto">

                <div class="personal-info-header">

                    <a class="navbar-brand" href="index.php">

                        <img src="assets/image/pri-logo.svg" class="img-fluid"/>

                    </a>

                    <div class="btn-box">

                        <p>Back to</p>

                        <a href="" class="btn-all">home</a>

                    </div>

                </div>

                <div class="section-heading">

                    <h2>Personal Information</h2>

                    <p>Your current diet plan will be based on the info you provide below. Your may also change each according to your current stage.</p>

                    <a href="" class="back-btn"><i class="fa-regular fa-arrow-left"></i></a>

                </div>

                <div class="p-box">

                    <div class="personal-detail">

                    <div class="personal-info-deatil">

                        <div class="info-box">

                            <div class="info-head">

                                <p>Gender</p>

                                <h6 class="info-heading">male</h6>

                            </div>

                            <a href="" class="change-btn" data-bs-toggle="modal" data-bs-target="#gen_der">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>blood group</p>

                                <h6 class="info-heading">a</h6>

                            </div>

                            <a href="" class="change-btn" data-bs-toggle="modal" data-bs-target="#blood_group">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>age</p>

                                <h6 class="info-heading">26 years</h6>

                            </div>

                            <a href="" class="change-btn"

                             data-bs-toggle="modal" data-bs-target="#your_age">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>height</p>

                                <h6 class="info-heading">122 cm</h6>

                            </div>

                            <a href="" class="change-btn" data-bs-toggle="modal" data-bs-target="#your_height">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>Weight</p>

                                <h6 class="info-heading">68kg</h6>

                            </div>

                            <a href="" class="change-btn" class="change-btn" data-bs-toggle="modal" data-bs-target="#your_weight">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>Allergies</p>

                                <h6 class="info-heading">Celery free</h6>

                            </div>

                            <a href="" class="change-btn" data-bs-toggle="modal" data-bs-target="#aller_gies">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>Diet Type</p>

                                <h6 class="info-heading">Alcohol free</h6>

                            </div>

                            <a href="" class="change-btn" data-bs-toggle="modal" data-bs-target="#di_et">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>Medical Conditions</p>

                                <h6 class="info-heading">Diabetes</h6>

                            </div>

                            <a href="" class="change-btn" data-bs-toggle="modal" data-bs-target="#medical_condition">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>Active State</p>

                                <h6 class="info-heading">Moderately Active</h6>

                            </div>

                            <a href="" class="change-btn">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>Goal</p>

                                <h6 class="info-heading">Mesomorph (Aesthetic)</h6>

                            </div>

                            <a href="" class="change-btn">change</a>

                        </div>                    

                        <div class="info-box">

                            <div class="info-head">

                                <p>Cuisine type</p>

                                <h6 class="info-heading">indian</h6>

                            </div>

                            <a href="" class="change-btn" data-bs-toggle="modal" data-bs-target="#cui_sine">change</a>

                        </div>

                        <div class="info-box">

                            <div class="info-head">

                                <p>Address</p>

                                <h6 class="info-heading">90 Woerdens Road...</h6>

                            </div>

                            <a href="" class="change-btn">change</a>

                        </div>



                    </div>

                    <div class="btn-box">

                        <a href="" class="btn-all">continue<i class="fa-solid fa-chevron-right"></i></a>

                    </div>

                </div>

                </div>

            </div>

        </div>

    </div>

</section>


<!-- footer-start -->
<%- include("comman/footer") %>
<!-- footer-end -->

