<!-- footer-start -->



<footer id="footer">

    <div class="top-footer">

        <div class="container">

            <div class="top-footer-content">

                <a class="navbar-brand" href="#">

                        <img src="assets/image/pri-logo.svg" class="img-fluid"/>

                </a>

                <div class="socialicon-box">

                    <h5 class="footer-heading">Follow us on</h5>

                    <ul class="social-list">

                        <li>

                            <a href=""><i class="fa-brands fa-facebook"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-instagram"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-twitter"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-linkedin-in"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-pinterest-p"></i></a>

                        </li>

                        <li>

                            <a href=""><i class="fa-brands fa-tiktok"></i></a>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

    </div>

    <div class="mid-footer">

        <div class="container">

            <div class="row">

                <div class="col-12 col-md-3 col-lg-3 col-xl-3">

                    <div class="footer-content">

                        <h5 class="footer-heading">Company Links</h5>

                        <ul class="footer-link">

                            <li>

                                <a href="">About Us</a>

                            </li>

                            <li>

                                <a href="">Contact us</a>

                            </li>

                        </ul>

                    </div>

                </div>

                <div class="col-12 col-md-3 col-lg-2 col-xl-2">

                    <div class="footer-content">

                        <h5 class="footer-heading">Products</h5>

                        <ul class="footer-link">

                            <li>

                                <a href="">Why Choose</a>

                            </li>

                            <li>

                                <a href="">App Features</a>

                            </li>

                            <li>

                                <a href="">Pricing</a>

                            </li>

                            <li>

                                <a href="">Blog</a>

                            </li>

                        </ul>

                    </div>

                </div>

                <div class="col-12 col-md-3 col-lg-3 col-xl-2">

                    <div class="footer-content">

                        <h5 class="footer-heading">Resources</h5>

                        <ul class="footer-link">

                            <li>

                                <a href="">Privacy Policy</a>

                            </li>

                            <li>

                                <a href="">Terms & condition</a>

                            </li>

                        </ul>

                    </div>

                </div>

                <div class="col-12 col-md-3 col-lg-4 col-xl-3 ms-auto">

                    <div class="footer-content app-box">

                        <h5 class="footer-heading">Download our app</h5>

                        <ul class="footer-link">

                            <li>

                                <a href="">

                                    <img src="assets/image/as.jpg" class="img-fluid" />

                                </a>

                            </li>

                            <li>

                                <img src="assets/image/gp.jpg" class="img-fluid" />

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="bottom-footer">

        <p>© Copyright 2023. All Rights Reserved |<a href=""> Privacy Policy</a></p>

    </div>

</footer>

<!-- footer-end -->



<div class="modal fade logSin-modal" id="log_in_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-md ">
  
      <div class="modal-content">
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>
  
        <div class="modal-body">
  
              <div class="section-heading">
  
                  <h2>login</h2>
  
              </div>
  
              <div class="social-account">
  
                  <a href="">
  
                      <img src="assets/image/goole.svg" class="img-fluid" />
  
                      Gmail
  
                  </a>
  
                  <a href="">
  
                      <img src="assets/image/face-book.svg" class="img-fluid" />
  
                      Facebook
  
                  </a>
  
                  <a href="">
  
                      <img src="assets/image/in-sta.svg" class="img-fluid" />
  
                      instagram
  
                  </a>
  
                  <a href="">
  
                      <img src="assets/image/twi-tter.svg" class="img-fluid" />
  
                      Twitter
  
                  </a>
  
              </div>
  
              <div class="or-box">
  
                  <span>or</span>
  
              </div>
  
              <form id="userLogin">
  
                  <div class="logSin-form">
  
                      <p class="text-center">Please enter your login details</p>
  
                      <div class="form-group">
  
                          <input type="email" class="form-control" name="loginEmail" id="login-email" placeholder="Email Address...">
  
                      </div>
  
                      <div class="form-group">
  
                          <input type="password" class="form-control" name="loginPassword" id="login-password" placeholder="Password">
  
                      </div>
  
                      <div class="check-field">
  
                          <div class="form-check">
  
                            <input class="form-check-input" type="checkbox">
  
                            <label class="form-check-label">Remember Me</label>
  
                          </div>
  
                          <a href="" class="read-more">Recovery Now?</a>
  
                      </div>
  
                      <div class="form-group">
  
                          <button class="form-control btn-all" type="submit">login</button>
  
                      </div>
  
                  </div>
  
              </form>
  
              <div class="create-account">
  
                  <p>No Account?</p>
  
                  <a href="javascript:void(0)" class="create-one">Create one</a>
  
              </div> 
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  <div class="modal fade logSin-modal" id="sin_up_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  
    <div class="modal-dialog modal-dialog-centered modal-md ">
  
      <div class="modal-content">
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>
  
        <div class="modal-body">
  
              <div class="section-heading">
  
                  <h2>Create an account</h2>
  
              </div>
  
              <div class="social-account">
  
                  <a href="">
  
                      <img src="assets/image/goole.svg" class="img-fluid" />
  
                      Gmail
  
                  </a>
  
                  <a href="">
  
                      <img src="assets/image/face-book.svg" class="img-fluid" />
  
                      Facebook
  
                  </a>
  
                  <a href="">
  
                      <img src="assets/image/in-sta.svg" class="img-fluid" />
  
                      instagram
  
                  </a>
  
                  <a href="">
  
                      <img src="assets/image/twi-tter.svg" class="img-fluid" />
  
                      Twitter
  
                  </a>
  
              </div>
  
              <div class="or-box">
  
                  <span>or</span>
  
              </div>
  
              <form id="userRegistration">
  
                  <div class="logSin-form">
  
                      <p class="text-center">Please enter your personal details</p>
  
                      <div class="form-group">
  
                          <input type="text" class="form-control" name="name" id="name" placeholder="Name">
  
                      </div>
  
                      <div class="form-group">
  
                          <input type="email" class="form-control" name="email" id="email" placeholder="Email">
  
                      </div>
  
                      <div class="form-group">
  
                          <input type="text" class="form-control" name="address" id="address" placeholder="Address">
  
                      </div>
  
                      <div class="form-group">
  
                          <input type="text" class="form-control" name="number" id="number" placeholder="Number">
  
                      </div>

                      <div class="form-group">
  
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">

                    </div>
  
                      <div class="form-group">
  
                          <button class="form-control btn-all" type="submit">Registration</button>
  
                      </div>
  
                  </div>
  
              </form>
  
              <div class="create-account">
  
                  <p>Already have an a account</p>
  
                  <a href="javascript:void(0)" class="already-account">Login</a>
  
              </div>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  
  <div class="modal fade logSin-modal" id="otp_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  
    <div class="modal-dialog modal-dialog-centered modal-md ">
  
      <div class="modal-content">
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>
  
        <div class="modal-body">
  
               <div class="section-heading">
  
                  <h2>OTP Verification</h2>
  
              </div> 
  
              <form>
  
                  <div class="logSin-form">
  
                      <p >Please enter the 4 digit verification
  
                           code sent to <span>1234 567890</span></p>
  
                      <div class="form-group otp-form">
  
                          <input type="number" class="form-control" name="_number1">
  
                          <input type="number" class="form-control" name="_number2">
  
                          <input type="number" class="form-control" name="_number3">
  
                          <input type="number" class="form-control" name="_number4">
  
                      </div>
  
                      <div class="check-field">
  
                          <p>If you don’t have receive any OTP</p>
  
                          <a href="" class="read-more">Recovery Now?</a>
  
                      </div>
  
                      <p class="text-center mt-4">OTP will sent in <span>30sec</span></p>
  
                      <div class="form-group">
  
                          <a href="personal-info.php"  class=" btn-all">continue</a>
  
                      </div>
  
                  </div>
  
              </form>
  
        </div>
  
      </div>
  
    </div>
  
  </div>
  


<!-- loginSin-modal-end -->



<!-- personal-info-modal-start -->



<!-- gender-modal-start -->

    <div class="modal fade personal_info_modal" id="gen_der" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-md ">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>

          <div class="modal-body">

                <div class="section-heading">

                    <h2>gender</h2>

                    <p>pick the data that is accurate for you.</p>

                </div>

                <form>

                    <div class="logSin-form">

                        <div class="radio-field">

                            <div class="form-check">

                              <input type="radio" class="form-check-input" id="radio1" name="gender"  aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/male.svg" class="img-fluid" />                                  

                                    <p>male</p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input" id="radio2" name="gender"  aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/diverse.svg" class="img-fluid" />                                  

                                    <p>diverse</p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input" id="radio3" name="gender"  aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/female.svg" class="img-fluid" />                                  

                                    <p>female</p>

                            </div>

                            </div>

                        </div>

                        <div class="form-group">

                            <button class="form-control btn-all" type="submit">done</button>

                        </div>

                    </div>

                </form>       

          </div>

        </div>

      </div>

    </div>

<!-- gender-modal-end -->



<!-- blood-group-modal-start -->

    <div class="modal fade personal_info_modal" id="blood_group" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-md ">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>

          <div class="modal-body">

                <div class="section-heading">

                    <h2>Blood Group</h2>

                    <p>pick the data that is accurate for you.</p>

                </div>

                <form>

                    <div class="logSin-form">

                        <div class="radio-field">

                            <div class="form-check">

                              <input type="radio" class="form-check-input"  name="gender"  aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/drops.svg" class="img-fluid" />         

                               <p>A<sup>+</sup></p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input"  name="gender"  aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/drops.svg" class="img-fluid" />         

                               <p>b<sup>+</sup></p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input"  name="gender"  aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/drops.svg" class="img-fluid" />         

                               <p>ab<sup>+</sup></p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input"  name="gender"  aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/drops.svg" class="img-fluid" />         

                               <p>o<sup>+</sup></p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input" name="gender"  aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/drops.svg" class="img-fluid" />         

                               <p>a<sup>-</sup></p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input"  name="gender"  aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/drops.svg" class="img-fluid" />         

                               <p>b<sup>-</sup></p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input" name="gender"  aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/drops.svg" class="img-fluid" />         

                               <p>ab<sup>-</sup></p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input type="radio" class="form-check-input" name="gender"  aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/drops.svg" class="img-fluid" />         

                               <p>0<sup>-</sup></p>

                            </div>

                            </div>



                        </div>

                        <div class="form-group">

                            <button class="form-control btn-all" type="submit">done</button>

                        </div>

                    </div>

                </form>       

          </div>

        </div>

      </div>

    </div>

<!-- blood-group-modal-end -->



<!-- Allergies-modal-start -->

    <div class="modal fade personal_info_modal" id="aller_gies" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-md ">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>

          <div class="modal-body">

                <div class="section-heading">

                    <h2>Allergies</h2>

                    <p>do you have any of this common] allergies?</p>

                </div>

                <form>

                    <div class="logSin-form">

                        <div class="radio-field">

                            <div class="form-check">

                                  <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/all1.png" class="img-fluid" />         

                               <p>Celery-free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/all2.png" class="img-fluid" />         

                               <p>Dairy Free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all3.png" class="img-fluid" />         

                               <p>fish Free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all4.png" class="img-fluid" />         

                               <p>lupine free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all5.png" class="img-fluid" />         

                               <p>wheat free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all6.png" class="img-fluid" />         

                               <p>soy free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all7.png" class="img-fluid" />         

                               <p>gluten free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all8.png" class="img-fluid" />         

                               <p>mustard free</p>

                            </div>

                            </div>                            

                            

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all9.png" class="img-fluid" />         

                               <p>egg free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all10.png" class="img-fluid" />         

                               <p>peanut free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all11.png" class="img-fluid" />         

                               <p>sesame free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all12.png" class="img-fluid" />         

                               <p>shellfish free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all13.png" class="img-fluid" />         

                               <p>tree-nut free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/all14.png" class="img-fluid" />         

                               <p>Crustacean free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                                   

                               <p>none</p>

                            </div>

                            </div>





                        </div>

                        <div class="form-group">

                            <button class="form-control btn-all" type="submit">done</button>

                        </div>

                    </div>

                </form>       

          </div>

        </div>

      </div>

    </div>

<!-- Allergies-modal-end -->



<!-- diet-modal-start -->

<div class="modal fade personal_info_modal" id="di_et" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-md ">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>

          <div class="modal-body">

                <div class="section-heading">

                    <h2>diet</h2>

                    <p>choose your diet</p>

                </div>

                <form>

                    <div class="logSin-form">

                        <div class="radio-field">

                            <div class="form-check">

                                  <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/di1.png" class="img-fluid" />         

                               <p>alcohol free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/di2.png" class="img-fluid" />         

                               <p>balanced</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di3.png" class="img-fluid" />         

                               <p>high fiber</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di4.png" class="img-fluid" />         

                               <p>high protein</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di5.png" class="img-fluid" />         

                               <p>low carb</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di6.png" class="img-fluid" />         

                               <p>pescatarian</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di7.png" class="img-fluid" />         

                               <p>low sodium</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di8.png" class="img-fluid" />         

                               <p>no sugar</p>

                            </div>

                            </div>                            

                            

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di9.png" class="img-fluid" />         

                               <p>vegetarain</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di10.png" class="img-fluid" />         

                               <p>pork free</p>

                            </div>

                            </div>

                            <div class="form-check">

                              <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di11.png" class="img-fluid" />         

                               <p>low fat</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di12.png" class="img-fluid" />         

                               <p>paleo</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di13.png" class="img-fluid" />         

                               <p>kosher</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di14.png" class="img-fluid" />         

                               <p>vegan</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di15.png" class="img-fluid" />         

                               <p>keto</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di16.png" class="img-fluid" />         

                               <p>low potassium</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di17.png" class="img-fluid" />         

                               <p>red meat free</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di18.png" class="img-fluid" />         

                               <p>kidney friendly</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di19.png" class="img-fluid" />         

                               <p>sugar conscious</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/di20.png" class="img-fluid" />         

                               <p>no oil added</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">         

                               <p>none</p>

                            </div>

                            </div>







                        </div>

                        <div class="form-group">

                            <button class="form-control btn-all" type="submit">done</button>

                        </div>

                    </div>

                </form>       

          </div>

        </div>

      </div>

    </div>

<!-- diet-modal-end -->



<!-- medical-condition-modal-start -->

<div class="modal fade personal_info_modal" id="medical_condition" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-md ">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>

          <div class="modal-body">

                <div class="section-heading">

                    <h2>medical conditions</h2>

                    <p>do you have any medical conditions we should aware of?</p>

                </div>

                <form>

                    <div class="logSin-form">

                        <div class="radio-field">

                            <div class="form-check">

                                  <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/mc1.png" class="img-fluid" />         

                               <p>diabetes</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                               <img src="assets/image/mc2.png" class="img-fluid" />         

                               <p>Cholesterol</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/mc3.png" class="img-fluid" />         

                               <p>sleep issues</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/mc4.png" class="img-fluid" />         

                               <p>depression</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/mc5.png" class="img-fluid" />         

                               <p>loneliness</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                              <img src="assets/image/mc6.png" class="img-fluid" />         

                               <p>pcos</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="checkbox" aria-expanded="true">

                               <div class="abso-box">

                                     

                               <p>none</p>

                            </div>

                            </div>

                           

                         





                        </div>

                        <div class="form-group">

                            <button class="form-control btn-all" type="submit">done</button>

                        </div>

                    </div>

                </form>       

          </div>

        </div>

      </div>

    </div>



<!-- medical-condition-modal-end -->



<!-- cuisine-modal-end -->

<div class="modal fade personal_info_modal" id="cui_sine" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-md ">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>

          <div class="modal-body">

                <div class="section-heading">

                    <h2>Cuisine type</h2>

                    <p>please choose one</p>

                </div>

                <form>

                    <div class="logSin-form">

                        <div class="radio-field">

                            <div class="form-check">

                            <input class="form-check-input" type="radio" name="cuisine" aria-expanded="true">

                               <div class="abso-box">                                        

                               <p>indian</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="radio" name="cuisine" aria-expanded="true">

                               <div class="abso-box">                                       

                               <p>chines</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="radio" name="cuisine" aria-expanded="true">

                               <div class="abso-box">                                       

                               <p>italian</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="radio" name="cuisine" aria-expanded="true">

                               <div class="abso-box">         

                               <p>thai</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="radio" name="cuisine" aria-expanded="true">

                               <div class="abso-box">                                    

                               <p>american</p>

                            </div>

                            </div>

                            <div class="form-check">

                            <input class="form-check-input" type="radio" name="cuisine" aria-expanded="true">

                               <div class="abso-box">                                       

                               <p>vietnamese</p>

                            </div>

                            </div>                         

                        </div>

                        <div class="form-group">

                            <button class="form-control btn-all" type="submit">done</button>

                        </div>

                    </div>

                </form>       

          </div>

        </div>

      </div>

    </div>



<!-- cuisine-modal-end -->



<!-- your-age-modal-start -->

<div class="modal fade personal_info_modal" id="your_age" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-md ">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>

          <div class="modal-body">

                <div class="section-heading">

                    <h2>Your age</h2>

                    <p>pick the data that is accurate for you.</p>

                </div>

                <form>

                    <div class="logSin-form">

                  <div class="range-item">

                        <ul class="list-inline list-unstyled">

                          <li class="list-inline-item">

                            <span>24</span>

                          </li>

                          <li class="list-inline-item">

                            <span>25</span>

                          </li>

                          <li class="list-inline-item">

                            <span>26</span>

                          </li>

                          <li class="list-inline-item">

                            <span>27</span>

                          </li>

                          <li class="list-inline-item">

                            <span>28</span>

                          </li>

                          <li class="list-inline-item">

                            <span>29</span>

                          </li>

                          <li class="list-inline-item">

                            <span>30</span>

                          </li>

                        </ul>

                        <div class="range-input d-flex position-relative">

                          <input type="range" min="0" max="30" class="form-range" name="dataShared" value="27" step="1" />

                          <div class="range-line">

                            <span class="active-line"></span>

                          </div>

                        </div>                        

                  </div>               



                        <div class="form-group">

                            <button class="form-control btn-all" type="submit">done</button>

                        </div>

                    </div>

                </form>       

          </div>

        </div>

      </div>

    </div>



<!-- your-age-modal-end -->



<!-- cuisine-modal-end -->

<div class="modal fade personal_info_modal" id="your_height" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered modal-md ">

        <div class="modal-content">

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-sharp fa-light fa-xmark"></i></button>

          <div class="modal-body">

                <div class="section-heading">

                    <h2>Your Height</h2>

                    <p>pick the data that is accurate for you.</p>

                </div>

                <form>

                    <div class="logSin-form">

                        <div class="in-de">

                            

                        </div>

                        <div class="form-group">

                            <button class="form-control btn-all" type="submit">done</button>

                        </div>

                    </div>

                </form>       

          </div>

        </div>

      </div>

    </div>

<!-- cuisine-modal-end -->



<!--personal-info-modal-end -->


<!-- jQuery-min.js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>


<!--bootstrap-5.0.2-js-->

<script type="text/javascript" src="assets/js/bootstrap.bundle.min.js"></script>


<!-- AOS-2.3.4-js -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>



<!-- AOS-init -->

<script>

    AOS.init();

</script>


<!-- fany-box-js -->

<script type="text/javascript"
src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script> 
<!-- owl-carousel-2.3.4-js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<!-- style.js -->
<script type="text/javascript" src="assets/js/style.js"></script>
<!-- Jquery Validation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<!-- Toaster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>

$(document).ready(function(){
   
//===============================Start Already Have A Account and Create One Script====================================//
 $(".already-account").on("click",function(){
    //Hide Registration form Here
    $("#sin_up_modal").removeClass("show");
    $("#sin_up_modal").removeAttr("style");
    $('label[class=error]').remove();
    //Show Login Form Here
    $("#log_in_modal").addClass("show");
    $("#log_in_modal").css("display","block");
 });

 $(".create-one").on("click",function(){
    //Show Registration form Here
    $("#sin_up_modal").addClass("show");
    $("#sin_up_modal").css("display","block");
    $('label[class=error]').remove();
    //Hide Login Form Here
    $("#log_in_modal").removeClass("show");
    $("#log_in_modal").removeAttr("style");
 })

//===============================End Already Have A Account And Create One Script====================================//


//================================Start Here New Registration code========================================//
 
    $("#userRegistration").validate({
        rules: {
            name: {
                required: true,
            },
            email: {
                required: true,
            }, 
            address: {
                required: true,
            },
            number: {
                required: true,
                digits: true,
                maxlength: 10,
                minlength:10,
            },
            password: {
                required: true,
            }, 
        },
        messages: {
            name: {
                required: "Name filed is required",
            },
            email: {
                required: "Email filed is required",
            },
            address: {
                required: "Address filed is required",
            },
            number: {
                required: "Number filed is required",
            },
            password: {
                required: "Password filed is required",
            },
        },
        submitHandler: function(form, event) {
          event.preventDefault();

           var data = $(form).serialize();

          $.ajax({
               url: "/registration",
               type: "POST",
               data: data,
               dataType:"JSON",
              success: function( response ) {
                console.log(response);
                if(response.status == true){
                  $("#sin_up_modal").removeClass("show");
                  $("#sin_up_modal").removeAttr("style");
                  toastr.success(response.message);
                  $("#otp_modal").addClass("show");
                  $("#otp_modal").css("display","block");
                }
              },
              error: function (error) {
                 console.error("Ajax error:", error);
              }
          });
        }
     });
//================================End Here New Registration Code========================================//


//================================Start Here User Login Code=============================================//
  
$("#userLogin").validate({
        rules: {
            loginEmail: {
                required: true,
            }, 
            loginPassword: {
                required: true,
            }, 
        },
        messages: {
            loginEmail: {
                required: "Email filed is required",
            },
            loginPassword: {
                required: "Password filed is required",
            },
        },
        submitHandler: function(form, event) {
          event.preventDefault();

           var data = $(form).serialize();

          $.ajax({
               url: "/login",
               type: "POST",
               data: data,
               dataType:"JSON",
              success: function( response ) {
                console.log(response);
                if(response.status == true){
                  $("#log_in_modal").removeClass("show");
                  $("#log_in_modal").removeAttr("style");
                  toastr.success(response.message);
                  window.location.href=response.url;
                }else{
                    toastr.error(response.message);
                }
              },
              error: function (error) {
                 console.error("Ajax error:", error);
              }
          });
        }
     });

//================================End Here User Login Code=============================================//



});
    
</script>


</body>

</html>

